.service {
  width: 100%;
  padding: 120px 0px 90px;
  background: var(--background-1);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  position: relative;
  .container {
    width: 100%;
    height: 100%;
    max-width: 1500px;
    padding: 0 20px;
    box-sizing: border-box;
    .title {
      width: 100%;
      font-size: 35px;
      color: var(--color-1);
      font-weight: 700;
      line-height: 1;
      margin: 0;
    }
  }
  @media only screen and (max-width: 1600px) {
    .container {
      max-width: 1170px;

      .content {
        .right {
          padding-left: 120px;
        }
      }
    }
  }
}
