@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,300;1,400&display=swap");
body {
  margin: 0;
  padding: 0;
}
:root {
  --background-0: #fff;
  --background-1: #f5f8fc;
  --color-1: #1a1a1a;
  --color-2: #7e7e7e;
  --color-3: #666666;
}
[data-theme="dark"] {
  --background-0: #111319;
  --background-1: #191c26;
  --color-1: #ffffff;
  --color-2: #a9afc3;
  --color-3: #ffffff;
}
.landingPage {
  width: 100vw;
  height: 100vh;
  background: var(--background-0);
  color: #1a1a1a;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.container {
  width: 80%;
  height: auto;
  position: relative;
}
/* #f5f8fc */
