.header {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
        height: 100%;
        flex: 1 3;
        padding-left: 80px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .btn{
            background: transparent;
            border: transparent;
            svg{
                color: #fff;
                width: 24px;
                height: 24px;
            }
        }
    }

    .menu {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 80px;
        gap: 40px;
        flex: 3 1;

        .menuItem {
            position: relative;
            width: auto;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.5s;
            img{
                margin-right: 5px;
            }
        }
        .menuItem:hover {
            color: rgb(162, 0, 255);
            letter-spacing: 2px;
        }
        .menuItemActive{
            position: relative;
            width: auto;
            cursor: pointer;
            font-size: 16px;
            transition: all 0.5s;
            img{
                margin-right: 5px;
            }
        }
        .menuItemActive:hover {
            color: rgb(162, 0, 255);
            letter-spacing: 2px;
        }
        .menuItemActive::after{
            content: "";
            position: absolute;
            border: solid 2px transparent;
            border-top-color: #fff;
            height: 7px;
            width: 100%;
            left: -1px;
            top: 18px;
            border-radius: 70%;
            transition: all 0.5s;
        }
        .menuItemActive:hover::after{
            border-top-color: rgb(162, 0, 255);
        }
    }
}